.message-box-body-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin:10px;
}
.message-box-body-right{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin:10px;
}
.message-box-content{
    font-size: 17px;
    margin:0px 10px;
    background-color: #9EC8B9;
    max-width:40%;
    width:fit-content;
    height: auto;
    padding:2px 10px;
}
.message-box-content p{
    text-overflow: ellipsis;
    margin:5px;
}